.table-view{

    -fx-border-color: linear-gradient(to bottom right, #e17055, #fab1a0);
    -fx-border-radius: 3px;
    -fx-background-color: transparent;
    -fx-padding: 0px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-insets: 0 0 0 0;
    -fx-background-color: #e17055;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
}

.table-view .label {
    -fx-font-size: 14px !important;
    -fx-text-fill: #fff;
}